html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

article {
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  margin: 0;
}

.center {
  max-width: 15em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem;
}

p {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 0 auto;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.cart {
  background-color: #6f00e7;
  text-decoration: none;
  font-family: Oswald, sans-serif;
  padding: .5em 1.5em .7em;
  border-radius: 3em;
  margin-right: auto;
}

.cart img {
  width: 1.5rem;
}

li a {
  text-decoration: none;
  color: white;
  display: flex;
}

li {
  padding: .25em;
}
